<section class="hero">
    <div class="allfunds-logo">
        <img src="/assets/allfunds.svg" alt="">
    </div>
    <div class="content">
        <h1>
            Allfunds News<br />
            Practice Test Development
        </h1>
        
        <p>
            In this page you can find and publish<br />
            article with free content selection and archive them when and<br />
            if you want. 
        </p>

        <div class="actions">
            <a routerLink="read-posts/new" class="btn">See newest post</a>
            <a routerLink="read-posts/archive" class="btn">See archived post</a>
        </div>
    </div>

    <img class="post" src="/assets/undraw_publish_post.svg" alt="" />

</section>